.home {
    opacity: 0; /* Start with opacity 0 */
    animation: fadeIn 1s linear forwards; /* Animate opacity from 0 to 1 */
}

@keyframes fadeIn {
    0%,30% {
        opacity: 0;
    }
    31%,70%{
opacity: 0.5;
    }
    71%,100% {
        opacity: 1;
    }
}
